.loader__wrapper {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader__item {
  display: inline-block;

  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border: 8px solid var(--color-border-neutral-inverted);
  border-bottom-color: var(--color-fill-brand-primary);
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader__text {
  margin-top: 1rem;
  font-size: 1.4rem;
}
