.footer {
  background-color: var(--backgrounds-brand-primary);
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 120px 40px;
}

.top {
  display: flex;
  gap: 74px;
  align-items: center;
}

.logo {
  margin-right: auto;
  padding: 16px;
  border-radius: 10px;
  color: var(--labels-neutral-inverted-primary);

  &:focus-visible {
    outline: 1px solid var(--labels-neutral-inverted-primary);
  }
}

.svg {
  width: 120px;
  height: 36px;
}

.contacts {
  display: flex;
  gap: 58px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  line-height: 20px;
  color: var(--labels-brand-quaternary);
}

.value {
  font: var(--font-text-medium);
  color: var(--labels-neutral-inverted-primary);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

.socials {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  border: 1px solid var(--labels-neutral-inverted-primary);
  border-radius: 100px;

  color: var(--labels-neutral-inverted-primary);

  transition:
    color 0.3s,
    background-color 0.3s;

  &:hover,
  &:focus-visible {
    color: var(--backgrounds-brand-primary);
    background-color: var(--labels-neutral-inverted-primary);
  }
}

.locations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  height: 165px;
  margin-top: 36px;

  list-style: none;
}

.location {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 16px;

  font: var(--font-text-medium);
  color: var(--labels-neutral-inverted-primary);
}

.address,
.auditorium {
  z-index: 1;
}

.letters {
  user-select: none;

  position: absolute;
  top: 5px;
  left: -9px;
  transform: scaleY(1.28);

  font-family: Geist, sans-serif;
  font-size: min(12.5vw, 179px);
  font-weight: 900;
  line-height: 90%;
  color: var(--labels-brand-quaternary);

  opacity: 0.1;
}

.copyright,
.issuesPlank {
  margin-top: 16px;

  font-size: 12px;
  line-height: 16px;
  color: var(--labels-neutral-inverted-primary);
  text-align: center;
}

.issuesLink {
  color: var(--labels-neutral-inverted-primary);
  text-decoration-style: solid;
  text-decoration-thickness: 3%;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-underline-offset: 25%;
}

@media (width <= 1260px) {
  .inner {
    padding: 48px 57px 36px;
  }

  .top {
    gap: 24px;
  }

  .logo {
    padding: 12px;
  }

  .contacts {
    gap: 24px;
  }

  .locations {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 112px);
    gap: 12px 0;
    height: auto;
  }

  .letters {
    top: 0;
    font-size: 125px;
  }

  .copyright,
  .issuesPlank {
    margin-top: 36px;
  }
}

@media (width <= 800px) {
  .top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }

  .logo {
    justify-self: start;
    margin: 0;
  }

  .svg {
    width: 100px;
    height: 30px;
  }

  .contacts {
    grid-area: 2 / span 2;
    flex-direction: column;
    gap: 20px;
  }

  .socials {
    grid-area: 1 / 2;
    place-self: center end;
    margin: 0;
  }
}

@media (width <= 634px) {
  .locations {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 112px);
  }
}

@media (width <= 425px) {
  .inner {
    padding: 48px 10px 36px;
  }
}
