@use '@/shared/scss/abstracts/breakpoints' as *;
@use '@/shared/scss/base/typography' as *;

.wrapper {
  width: 100%;
  max-width: 119.9rem;
  margin: 3.5rem auto 9.6rem;

  @include past-tablet {
    margin: 4.5rem auto 4.8rem;
  }

  @include past-desktop {
    margin: 6rem auto 7.4rem;
  }
}

.container {
  position: relative;

  display: flex;
  column-gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.title {
  @include header(2);

  margin-bottom: 2rem;
  color: var(--color-label-neutral-primary);
}

.text {
  font-size: 2rem;
  color: var(--color-label-neutral-secondary);
}

.content {
  display: flex;
  flex-direction: column;
}

.content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 54.8rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.titleImg {
  height: auto;
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;

  padding: 1rem 1.6rem;
  border-width: 0;
  border-radius: 1.2rem;

  font-size: 1.6rem;
  color: var(--color-label-neutral-primary);

  background: var(--color-interactive-neutral-secondary);

  transition: background-color 0.3s ease;
}

.tab:hover {
  background: var(--color-interactive-neutral-hover-secondary);
}

.tab.active {
  border-color: var(--color-border-brand-strong);
  color: var(--color-label-brand-primary);
  background-color: var(--color-interactive-brand-secondary);
}

.tab:active {
  transform: scale(0.97);
}

.containerTabButton {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 392px;
  margin-top: 48px;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;

  fill: none;
  stroke: currentcolor;

  transition: stroke 0.3s ease;
}

.button {
  cursor: pointer;

  margin-top: 2rem;
  padding: 1.6rem;
  border: none;
  border-radius: 1.2rem;

  font-size: 1.8rem;
  color: var(--color-label-neutral-inverted-primary);

  background-color: var(--color-interactive-brand-primary);

  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--color-interactive-brand-hover);
}

.buttonTextFull {
  display: inline;
  font-size: 2rem;
  font-weight: 500;
}

.buttonTextShort {
  display: none;
}

@media (width <= 1150px) {
  .title {
    margin-bottom: 2rem;
  }

  .text {
    font-size: 2rem;
    opacity: 0.72;
  }
}

@media (width <= 1024px) {
  .titleImg {
    max-width: 49.7rem;
    height: auto;
  }
}

@media (width <= 850px) {
  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
    padding: 0 5.7rem;

    background-color: inherit;
  }

  .titleImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 0;

    object-fit: contain;
  }

  .text {
    font-size: 1.6rem;
    text-align: center;
  }

  .content {
    align-items: center;
    width: 100%;
    padding-bottom: 1.6rem;
    padding-inline: 6rem;
  }

  .tabs {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    margin-top: 2rem;
  }

  .buttonTextFull {
    display: none;
  }

  .buttonTextShort {
    display: inline;
  }

  .button {
    display: block;
    width: 100%;
    margin-top: 0.6rem;
  }

  .wrapper {
    background-color: inherit;
  }

  .title {
    text-align: center;
  }
}

@media (width <= 600px) {
  .containerTabButton {
    margin-top: 2.4rem;
  }

  .title {
    margin-bottom: 0.6rem;
  }

  .container {
    padding-inline: 1rem;
  }

  .content {
    padding-inline: 0;
  }

  .containerTabButton {
    padding-inline: 0;
  }
}

[data-theme='dark'] {
  .title {
    color: var(--color-label-neutral-inverted-primary);
  }

  .text {
    color: color-mix(
      in srgb,
      var(--color-label-neutral-secondary),
      var(--color-label-neutral-inverted-primary)
    );
  }

  .tab {
    color: var(--color-label-neutral-inverted-primary);
    background-color: var(--color-interactive-neutral-active);

    &:hover:not(.active) {
      color: var(--color-interactive-neutral-primary);
      background: var(--color-background-neutral-primary);
    }

    &:active:not(.active) {
      border: 1px solid var(--color-border-brand-strong);
      color: var(--color-interactive-brand-active);
      background: none;
    }
  }

  .tab.active {
    background-color: var(--color-interactive-brand-primary);
  }

  .button {
    color: var(--color-interactive-neutral-primary);
    background-color: var(--color-fill-neutral-none);

    &:hover {
      background-color: var(--color-interactive-neutral-hover-secondary);
    }

    &:active {
      background-color: var(--color-interactive-neutral-active-secondary);
    }
  }
}
