.wrapper {
  width: 100%;
  max-width: 119.9rem;
  margin: 3.5rem auto 9.6rem;

  @include past-tablet {
    margin: 4.5rem auto 4.8rem;
  }

  @include past-desktop {
    margin: 6rem auto 7.4rem;
  }
}

.container {
  position: relative;

  display: flex;
  column-gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.title {
  @include header(2);

  margin-bottom: 2rem;
  color: var(--labels-neutral-primary);
}

.text {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  color: var(--labels-neutral-secondary);
}

.content {
  display: flex;
  flex-direction: column;
}

.titleImg {
  height: auto;
}

@media (width <= 1150px) {
  .title {
    margin-bottom: 2rem;
  }

  .text {
    font-size: 2rem;
    opacity: 0.72;
  }
}

@media (width <= 1024px) {
  .titleImg {
    max-width: 49.7rem;
    height: auto;
  }
}

@media (width <= 850px) {
  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
    padding: 0 5.7rem;

    background-color: inherit;
  }

  .titleImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 0;

    object-fit: contain;
  }

  .text {
    font-size: 1.6rem;
    text-align: center;
  }

  .content {
    align-items: center;
    width: 100%;
    padding-bottom: 1.6rem;
    padding-inline: 6rem;
  }

  .wrapper {
    background-color: inherit;
  }

  .title {
    text-align: center;
  }
}

@media (width <= 600px) {
  .title {
    margin-bottom: 0.6rem;
  }

  .text {
    margin-bottom: 2.4rem;
  }

  .container {
    padding-inline: 1rem;
  }

  .content {
    padding-inline: 0;
  }
}

[data-theme='dark'] {
  .title {
    color: var(--labels-neutral-inverted-primary);
  }

  .text {
    color: color-mix(
      in srgb,
      var(--labels-neutral-secondary),
      var(--labels-neutral-inverted-primary)
    );
  }
}
