.root {
  position: fixed;
  z-index: 999;
  right: 50%;
  bottom: 24px;
  transform: translateX(50%);

  display: flex;
  gap: 10px;
  align-items: center;

  width: calc(100% - 20px);
  max-width: 400px;
  padding: 14px 16px;
  border: 1px solid var(--border-neutral-base);
  border-radius: 12px;

  font: var(--font-text-medium);
  color: var(--interactive-neutral-primary);

  background-color: var(--backgrounds-neutral-primary);
}

.link {
  color: var(--interactive-brand-primary);
}

@media (width <= 425px) {
  .root {
    padding: 10px;
  }
}

[data-theme='dark'] {
  .root {
    color: var(--label-neutral-inverted-primary);
    background-color: var(--label-neutral-primary);
  }
}
