.contentWrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.titleWrapper {
  margin-top: 120px;
}

.title {
  font-size: 3rem;
  text-align: center;
}

@media (width <= 425px) {
  .titleWrapper {
    margin-top: 20px;
  }

  .title {
    font-size: 2.8rem;
    line-height: 36px;
    text-align: center;
  }
}

[data-theme='dark'] {
  .title {
    color: var(--label-neutral-inverted-primary);
  }
}
