.section {
  padding: 80px 0;
}

.scheduleSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.scheduleInfo {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.lunchInfo,
.fridayInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  padding: 24px;
  border-radius: 24px;

  background: var(--backgrounds-neutral-secondary);
}

.lunchLabel,
.fridayLabel {
  font-size: 20px;
  font-weight: 600;
  color: var(--labels-neutral-tetriary);
}

.lunchTime,
.fridayTime {
  font-size: 22px;
  font-weight: 600;
  color: var(--labels-neutral-primary);
}

.scheduleIllustration {
  width: 100%;
  margin: 0 auto;
  border-radius: 16px;
}

.scheduleImage {
  width: 100%;
}

@media (width <= 768px) {
  .section {
    padding: 60px 0;
  }

  .scheduleInfo {
    flex-direction: column;
    gap: 30px;
  }
}

@media (width <= 425px) {
  .scheduleIllustration {
    overflow: visible;

    width: 100vw;
    height: auto;
    margin-left: calc(50% - 50vw);
    border-radius: 0;
  }

  .scheduleImage {
    width: 140vw;
    max-width: none;
    height: auto;
    margin-left: -20vw;
  }

  .scheduleInfo {
    gap: 8px;
  }

  .scheduleSection {
    padding: 12px;
  }
}

[data-theme='dark'] {
  .lunchInfo {
    background-color: var(--fill-neutral-primary);
  }

  .fridayInfo {
    background-color: var(--fill-neutral-primary);
  }

  .fridayInfo span,
  .lunchInfo span {
    color: var(--labels-neutral-inverted-primary);
  }
}
