.section {
  padding: 80px 0;
}

.title {
  margin: 0 0 60px;

  font-size: 48px;
  font-weight: 700;
  color: var(--color-label-neutral-primary);
  text-align: center;
}

.scheduleSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.scheduleInfo {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.lunchInfo,
.fridayInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  padding: 24px;
  border-radius: 24px;

  background: var(--color-background-neutral-secondary);
}

.lunchLabel,
.fridayLabel {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-label-neutral-tetriary);
}

.lunchTime,
.fridayTime {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-label-neutral-primary);
}

.scheduleIllustration {
  width: 100%;
  margin: 0 auto;

  /* background-color: #ffffff; */

  /* padding: 60px 40px; */

  /* text-align: center; */

  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); */
  border-radius: 16px;
}

.scheduleImage {
  width: 100%;
}

/* .scheduleIllustration {
    color: #407BFF;
    border: 1px solid #407BFF;
} */

.illustrationPlaceholder {
  font-size: 18px;
  font-weight: 500;
  color: #486cc0;
}

@media (width <= 1024px) {
  .title {
    font-size: 40px;
  }
}

@media (width <= 768px) {
  .section {
    padding: 60px 0;
  }

  .title {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .scheduleInfo {
    flex-direction: column;
    gap: 30px;
  }

  /* .scheduleIllustration {
        padding: 40px 20px;
    } */

  .illustrationPlaceholder {
    font-size: 16px;
  }
}

@media (width <= 425px) {
  .scheduleIllustration {
    /* растянуть блок на всю ширину экрана */
    overflow: visible;

    width: 100vw;
    height: auto;
    margin-left: calc(50% - 50vw);
    border-radius: 0;
  }

  .scheduleImage {
    width: 140vw;

    /* картинка шире экрана */
    max-width: none;

    /* смещение влево */
    height: auto;
    margin-left: -20vw;
  }
}

[data-theme='dark'] {
  .lunchInfo {
    background-color: var(--color-fill-neutral-primary);
  }

  .fridayInfo {
    background-color: var(--color-fill-neutral-primary);
  }

  .fridayInfo span,
  .lunchInfo span {
    color: var(--color-label-neutral-inverted-primary);
  }
}
