.button {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  border-width: 0;
  border-radius: 1rem;

  font-size: 1.6rem;
  font-weight: bold;
  color: var(--label-neutral-inverted-primary);

  outline: 2px solid transparent;

  transition:
    outline 0.3s ease,
    background 0.3s ease,
    outline-offset 0.3s ease;

  &.medium {
    padding: 1.4rem;

    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &.color-brand {
    &.secondary {
      color: var(--label-brand-primary);
      background-color: var(--interactive-brand-secondary);

      &:hover {
        background-color: var(--interactive-brand-hover-secondary);
      }

      &:active {
        background-color: var(--interactive-brand-active-secondary);
      }

      &:disabled {
        color: var(--label-neutral-quaternary);
        background-color: var(--interactive-neutral-disable);
      }
    }

    &.primary {
      background: var(--fill-brand-primary);

      &:hover {
        background: var(--interactive-neutral-hover);
      }

      &:focus {
        background: var(--fill-brand-primary);
        outline: 2px solid var(--border-brand-strong);
        outline-offset: 2px;
      }
    }
  }

  &.color-neutral {
    &.primary {
      color: var(--label-neutral-inverted-primary);
      background-color: var(--interactive-neutral-primary);

      &:hover {
        background-color: var(--interactive-neutral-hover);
      }

      &:active {
        background-color: var(--interactive-neutral-active);
      }

      &:disabled {
        color: var(--label-neutral-quaternary);
        background-color: var(--interactive-neutral-disable);
      }
    }
  }

  &.hasIcon {
    gap: 1.2rem;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

[data-theme='dark'] {
  .button {
    &.color-brand {
      color: var(--interactive-neutral-primary);
      background-color: var(--fill-neutral-none);

      &:hover {
        background-color: var(--interactive-neutral-hover-secondary);
      }

      &:active {
        background-color: var(--interactive-neutral-active-secondary);
        outline: none;
      }
    }
  }
}
