@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2.4rem 1rem 5.3rem;

  .top {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-start;
    justify-content: space-between;

    .backButton {
      display: flex;
      gap: 0.6rem;
      align-items: center;
      justify-content: center;

      font: var(--font-text-medium);
      color: var(--color-label-brand-primary);
      text-decoration: none;
    }
  }

  .info {
    display: flex;
    gap: 1.6rem;
    align-items: center;

    font: var(--font-text-small);
    color: var(--color-label-neutral-secondary);
  }

  .title {
    margin-block: 0.9rem;
    font: var(--font-h2);
    color: var(--color-label-neutral-primary);
    letter-spacing: var(--font-header-letter-spacing);
  }

  .content {
    .imageWrapper {
      overflow: hidden;

      width: 100%;
      height: auto;
      margin-block: 2rem 4rem;
      border-radius: 1.6rem;

      & > img {
        width: 100%;
        object-fit: contain;
      }
    }

    & > h1 {
      margin-bottom: 2.4rem;
      font: var(--font-h2);
      color: var(--color-label-neutral-primary);
      letter-spacing: var(--font-header-letter-spacing);
    }

    & > h2 {
      margin-bottom: 2.4rem;
      font: var(--font-h3);
      color: var(--color-label-neutral-primary);
      letter-spacing: var(--font-header-letter-spacing);
    }

    & > p {
      margin-bottom: 2.4rem;
      font: var(--font-text-medium);
      color: var(--color-label-neutral-primary);
    }

    .block {
      margin-bottom: 2.4rem;

      & > p {
        font: var(--font-text-medium);
        color: var(--color-label-neutral-primary);
      }

      & > ul {
        padding-left: 2.4rem;

        & > li {
          margin-bottom: 0.4rem;
          font: var(--font-text-medium);
          color: var(--color-label-neutral-primary);

          // list-style-position: inside;
          list-style-type: disc;
        }
      }

      & > * {
        margin-bottom: 2rem;
      }
    }
  }

  .bottomBtn {
    width: 100%;
    max-width: 39rem;
    margin: 0 auto;
  }

  @include past-tablet {
    padding: 4rem 6.7rem;

    .top {
      flex-direction: row;

      .info {
        gap: 3.6rem;
      }
    }

    .title {
      margin-block: 3.6rem 2.4rem;
    }

    .content {
      .imageWrapper {
        overflow: hidden;

        width: 100%;
        height: auto;
        margin-block: 1.6rem 4.8rem;
        border-radius: 2.4rem;
      }

      & > h1 {
        margin-bottom: 2.4rem;
      }

      & > h2 {
        margin-bottom: 2.8rem;
      }

      & > p {
        margin-bottom: 4.8rem;
      }

      .block {
        margin-bottom: 4.8rem;

        & > * {
          margin-bottom: 2.4rem;
        }
      }
    }
  }
}

[data-theme='dark'] {
  .wrapper {
    .info,
    .title {
      color: var(--color-label-neutral-inverted-primary);
    }
  }

  .content {
    & > h1,
    & > h2,
    & > p {
      color: var(--color-label-neutral-inverted-primary);
    }

    .block {
      & > p {
        color: var(--color-label-neutral-inverted-primary);
      }

      & > ul > li {
        color: var(--color-label-neutral-inverted-primary) !important;
      }
    }
  }
}
