.buttonLink {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  max-width: 100%;
  padding: 16px;
  border: none;
  border-radius: 16px;

  font: var(--font-text-large-button);
  color: var(--default);
  text-decoration: none;

  background-color: var(--backgrounds-color-default);

  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: var(--backgrounds-color-hover);
  }

  &:active {
    background-color: var(--backgrounds-color-active);
  }

  &:disabled {
    color: var(--label-neutral-quaternary);
    background-color: var(--interactive-brand-disable);
  }

  &:focus-visible {
    outline: 2px solid var(--border-brand-strong);
    outline-offset: 2px;
  }

  &_brand_ {
    &_primary_ {
      --default: var(--label-neutral-inverted-primary);
      --backgrounds-color-default: var(--interactive-brand-primary);
      --backgrounds-color-hover: var(--interactive-brand-hover);
      --backgrounds-color-active: var(--interactive-brand-active);
    }

    &_secondary {
      --default: var(--label-brand-primary);
      --backgrounds-color-default: var(--interactive-brand-secondary);
      --backgrounds-color-hover: var(--interactive-brand-hover-secondary);
      --backgrounds-color-active: var(--interactive-brand-active-secondary);
    }
  }

  &_neutral {
    &_primary_ {
      --default: var(--label-neutral-inverted-primary);
      --backgrounds-color-default: var(--interactive-neutral-primary);
      --backgrounds-color-hover: var(--interactive-neutral-hover);
      --backgrounds-color-active: var(--interactive-neutral-active);
    }

    &_secondary {
      --default: var(--label-neutral-primary);
      --backgrounds-color-default: var(--interactive-neutral-secondary);
      --backgrounds-color-hover: var(--interactive-neutral-hover-secondary);
      --backgrounds-color-active: var(--interactive-neutral-active-secondary);
    }
  }

  svg {
    aspect-ratio: 1 / 1;
    height: 24px;
  }
}

[data-theme='dark'] {
  .buttonLink {
    &_brand__primary_ {
      --default: var(--interactive-neutral-primary);
      --backgrounds-color-default: var(--fill-neutral-none);
      --backgrounds-color-hover: var(--interactive-neutral-hover-secondary);
      --backgrounds-color-active: var(--interactive-neutral-active-secondary);
    }
  }
}
