@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;

  padding: 2.4rem 1rem;
  border: 1px solid var(--color-border-neutral-base);
  border-radius: 2rem;

  .photo {
    aspect-ratio: 1 / 1;
    width: 10.4rem;
    max-width: 10.4rem;
    border-radius: 2rem;

    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.3s ease;
  }

  .consult_label {
    display: none;
  }

  .consult_areas {
    display: none;
  }

  .info {
    width: 100%;
    padding-inline: 0.8rem;
  }

  @include past-tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    max-width: 38.9rem;
    height: 100%;
    margin: 0 auto;
    padding: 1.2rem 1.2rem 3rem;
    border: 1px solid var(--color-border-neutral-base);

    background-color: var(--color-background-neutral-primary);

    transition: transform 0.2s;

    .info {
      padding-inline: 0;
    }

    .consult_label {
      display: block;
    }

    .consult_areas {
      display: block;
    }

    .photo {
      aspect-ratio: 1 / 1;
      width: 100%;
      max-width: initial;
      margin-bottom: 1.2rem;
      border-radius: 1.2rem;
    }

    .experience {
      margin-bottom: 1.5rem;
    }
  }
}

.wrapper:hover {
  transform: translateY(-0.4rem);
}

.fio {
  margin: 0 0 0.4rem;

  font: var(--font-h4);
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--color-label-neutral-primary);
}

.speciality {
  font: var(--font-text-large);
  font-size: 2rem;
  color: var(--color-label-neutral-primary);
}

.experience {
  font: var(--font-text-large);
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-label-neutral-secondary);

  opacity: 0.72;
}

.consult_label {
  margin-top: 0.8rem;

  font: var(--font-h5);
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-label-neutral-primary);
}

.consult_areas {
  margin-top: 0.2rem;

  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-label-neutral-secondary);

  opacity: 0.72;
}

@media (width <= 1150px) {
  .fio {
    font-size: 2.8rem;
  }

  .consult_areas,
  .speciality,
  .experience {
    font-size: 1.6rem;
  }

  .consult_label {
    font-size: 2.2rem;
  }
}

[data-theme='dark'] {
  .wrapper {
    background-color: var(--color-background-neutral-inverted);
  }

  .fio,
  .speciality,
  .consult_label {
    color: var(--color-label-neutral-inverted-primary);
  }

  .experience,
  .consult_areas {
    color: color-mix(
      in srgb,
      var(--color-label-neutral-secondary),
      var(--color-label-neutral-inverted-primary)
    );
  }

  .photo {
    background-color: var(--color-fill-neutral-primary);
  }
}
