@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .showMore {
    width: fit-content;
    padding-inline: 12.6rem;
  }

  .passList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    justify-content: center;
    justify-items: center;

    padding-inline: 1rem;

    .passBtn {
      width: 100%;
      padding: 1.6rem;
      border-radius: 1.6rem;

      color: var(--color-label-brand-primary);

      background: var(--color-interactive-brand-secondary);
    }

    @include past-tablet {
      .passList {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        gap: 1.6rem;
        padding: 0;
      }
    }

    @include past-desktop {
      gap: 1.6rem;

      .passList {
        grid-template-columns: 1fr;
      }
    }
  }

  @include mobile-specific {
    .showMore {
      width: 100%;
      padding-inline: 1rem;
    }
  }
}

[data-theme='dark'] {
  .wrapper {
    .passList {
      .passBtn {
        &:hover {
          background-color: var(--color-interactive-neutral-hover-secondary);
        }

        &:active {
          background-color: var(--color-interactive-neutral-active-secondary);
        }
      }
    }
  }
}
