.layout {
  display: grid;
  grid-template-columns: 28.8rem 1fr;
  gap: 2.4rem;

  max-width: 122.4rem;
  min-height: calc(100vh - 8rem);
  margin: 0 auto;
  padding: 4rem 2.4rem;

  @media (width <= 1023px) {
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 2.4rem 1.6rem;
  }
}

.sidebarWrapper {
  position: sticky;
  top: calc(var(--header-height) + 4rem);
  height: fit-content;

  @media (height <= 900px), (width <= 1023px) {
    position: static;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.countBage {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 2.6rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.6rem;

  font: var(--font-text-medium);
  color: var(--color-label-neutral-primary);

  background-color: var(--color-fill-neutral-primary);
}

.countBageActive {
  color: var(--color-label-neutral-inverted-primary);
  background-color: var(--color-fill-brand-primary);
  transition:
    background-color 0.3s,
    color 0.3s;
}

[data-theme='dark'] {
  .countBage {
    color: var(--color-label-neutral-inverted-primary);
  }
}

@media (width <= 600px) {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px 100px;
  }

  h2 {
    font-size: 2rem;
  }
}
