@use '@/shared/scss/abstracts/breakpoints' as *;

:root {
  --border-radius-card: 28px;
  --card-padding: 24px;
  --title-font-size: 3.2rem;
  --title-line-height: 3.6rem;
  --title-font-family: 'Geist', sans-serif;
  --text-font-family: 'Roboto', sans-serif;
  --title-font-weight: 500;
  --content-gap: 12px;
}

.features {
  width: 100%;
  max-width: 1200px;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.features__grid_1 {
  position: relative;

  overflow: hidden;
  display: flex;
  grid-row: span 2 / span 2;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--card-padding);
  border-radius: var(--border-radius-card);

  background-color: var(--color-background-brand-primary);

  & > * {
    z-index: 1;
  }
}

.features__1_content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.features__1_image_wrapper {
  position: absolute;
  z-index: 0;
  right: -2rem;
  bottom: 0;

  width: 100%;
  max-width: 25rem;

  .features__1_image {
    width: 100%;
    height: auto;
  }

  @include past-tablet {
    right: 4.2rem;
    bottom: -0.4rem;
    max-width: 27rem;
  }

  @include past-desktop {
    right: -0.5rem;
    max-width: 40rem;
  }
}

.features__1_title {
  font-family: var(--title-font-family);
  font-size: 3.2rem;
  font-weight: var(--title-font-weight);
  line-height: 3.6rem;
  color: var(--color-label-neutral-inverted-primary);
}

.features__1_text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-label-neutral-inverted-primary);
}

.features__1_button {
  user-select: none;

  display: inline-flex;
  gap: 1rem;
  align-items: center;

  width: fit-content;
  padding: 16px;
  border: 2px solid transparent;
  border-radius: 12px;

  font-size: 2rem;
  font-weight: 500;
  color: var(--color-label-neutral-inverted-primary);

  background-color: var(--color-interactive-neutral-primary);
}

.features__1_button:hover {
  background-color: var(--color-interactive-neutral-hover);
}

.features__1_button:active,
.features__1_button:active:hover {
  background-color: var(--color-interactive-neutral-active);
}

.features__1_button:focus-visible {
  border-radius: 4px;
}

.features__grid_2 {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);

  padding: var(--card-padding);
  border-radius: var(--border-radius-card);

  background-color: var(--color-fill-neutral-quaternary);
}

.features__2_title,
.features__3_title,
.features__4_title {
  font-family: var(--title-font-family);
  font-size: 3.2rem;
  font-weight: var(--title-font-weight);
  line-height: 3.6rem;
  color: var(--color-label-neutral-primary);
}

.features__2_text,
.features__3_text,
.features__4_text {
  font-family: var(--text-font-family);
  font-size: 1.6rem;
  font-weight: 2.4rem;
  color: var(--color-label-neutral-tetriary);
}

.features__grid_3 {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);

  padding: var(--card-padding);
  border-radius: var(--border-radius-card);

  background-color: var(--color-fill-neutral-quaternary);
}

.features__grid_4 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;

  padding: var(--card-padding);
  border-radius: var(--border-radius-card);

  background-color: var(--color-fill-neutral-quaternary);
}

.features__4_content {
  display: flex;
}

.features_4_block {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  width: 62%;
}

.features__2_image {
  width: 300px;
  height: 300px;
}

@media (width <= 1206px) {
  .features {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (width <= 767px) {
  .features__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }

  .features__grid_1 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
    height: 41rem;
  }

  .features__grid_2 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .features__grid_3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .features__grid_4 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .features__1_title,
  .features__2_title,
  .features__3_title,
  .features__4_title {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

@media (width <= 560px) {
  .features__4_content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (width <= 480px) {
  .features__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    /* gap: 16px; */
    grid-template-columns: 1fr;
    grid-template-rows: 430px 200px 200px 430px;
    grid-template-rows: repeat(4, auto);
    gap: 16px;

    height: fit-content;
  }

  .features__grid_1 {
    grid-column-start: 1;
    grid-row-start: 4;
  }

  .features__grid_2 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .features__grid_3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .features__grid_4 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .features__grid_2,
  .features__grid_3,
  .features__grid_4 {
    grid-column-start: 1;
    grid-row: auto;
    grid-row-start: 1;
  }

  .features_4_block {
    width: 100%;
  }

  .features__2_image {
    width: 250px;
    height: 250px;
  }

  .features__1_title,
  .features__2_title,
  .features__3_title,
  .features__4_title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .features__1_button {
    padding: 8px;
    font-size: 1.6rem;
  }
}

[data-theme='dark'] {
  .features__grid_1 {
    background-color: var(--color-fill-brand-primary);
  }

  .features__grid_2,
  .features__grid_3,
  .features__grid_4 {
    background-color: var(--color-fill-neutral-primary);
  }

  .features__2_title,
  .features__3_title,
  .features__4_title {
    color: var(--color-label-neutral-inverted-primary);
  }

  .features__2_text,
  .features__3_text,
  .features__4_text {
    color: color-mix(
      in srgb,
      var(--color-label-neutral-secondary),
      var(--color-label-neutral-inverted-primary)
    );
  }
}
