@use '@/shared/scss/abstracts/breakpoints' as *;

.tab {
  padding-block: 0.75rem;
  padding-inline: 1.6rem;
  border-width: 0;
  border-radius: 1.2rem;

  font: var(--font-text-medium);
  color: var(--color-label-neutral-primary);

  background: var(--color-interactive-neutral-secondary);

  transition: 0.3s ease;

  &.active {
    color: var(--color-label-neutral-inverted-primary);
    background: var(--color-interactive-brand-primary);
  }

  @include past-tablet {
    &:hover:not(.active) {
      color: var(--color-label-brand-primary);
      background: var(--color-interactive-brand-hover-secondary);
    }
  }

  @include past-tablet {
    padding: 1rem 2.2rem;
    font: var(--font-text-large-button);
  }

  @include past-desktop {
    padding: 1.6rem 6.4rem;
    font: var(--font-text-large);
  }
}

[data-theme='dark'] {
  .tab {
    &:hover:not(.active) {
      color: var(--color-label-brand-primary);
      background-color: var(--color-interactive-brand-hover-secondary);
    }

    &:active:not(.active) {
      color: var(--color-label-neutral-inverted-primary);
      background-color: var(--color-interactive-brand-primary);
    }
  }
}
