.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 100%;
  max-width: 1000px;
}

.wrapper h2:first-child {
  margin-bottom: 1.2rem;
}

.list {
  display: flex;
  flex-direction: column;
  min-height: 776px;
}

.dateHeader {
  margin-bottom: 0.8rem;
  font: var(--font-h5);
  color: var(--color-label-neutral-primary);
}

.dateGroup:not(:first-child) {
  margin-top: 2.4rem;
}

.appointmentRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.6rem 1.6rem 2.4rem;
}

.appointmentRow:not(:first-of-type) {
  border-top: 1px solid var(--color-border-neutral-base);
}

.timeStatusRow {
  display: flex;
  gap: 1.6rem;
}

.contentCol {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.timeCol {
  font: var(--font-text-medium);
  color: var(--color-label-neutral-primary);
}

.infoCol {
  display: flex;
  flex-direction: row;
  max-width: 700px;
}

.appointmentRow:has(.btnConfirm) .infoCol {
  max-width: 550px;
}

.patientName,
.location {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.patientName {
  flex-shrink: 0;
  max-width: 370px;
  font: var(--font-text-large);
  color: var(--color-label-neutral-primary);
}

.location {
  display: block;
  font: var(--font-text-large);
  color: var(--color-label-neutral-secondary);
}

.location::before {
  content: '|';
  margin: 0 1.2rem;
}

.actionsCol {
  display: flex;
  flex-shrink: 0;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-end;
}

.status {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.status-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;

  &--awaiting {
    background-color: var(--color-label-neutral-secondary);
  }

  &--done {
    background-color: var(--color-label-success-primary);
  }

  &--cancelled {
    background-color: var(--color-label-danger-primary);
  }
}

.status-text {
  font: var(--font-text-medium);
  color: var(--color-label-neutral-primary);
}

.btnPrimary {
  cursor: pointer;

  padding: 0.8rem 2.7rem;
  border: none;
  border-radius: 12px;

  font: var(--font-text-medium);
  color: var(--color-label-neutral-inverted-primary);
  white-space: nowrap;

  background-color: var(--color-interactive-brand-primary);

  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-interactive-brand-hover);
  }

  &:active {
    background-color: var(--color-interactive-brand-active);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;

  :global(.ant-pagination-item-active) {
    border-color: var(--color-label-brand-primary);
    background-color: var(--color-label-brand-primary);

    a {
      color: var(--color-label-neutral-inverted-primary) !important;
    }
  }
}

[data-theme='dark'] {
  .dateHeader,
  .timeCol,
  .patientName,
  .status-text {
    color: var(--color-label-neutral-inverted-primary);
  }

  .location {
    color: color-mix(
      in srgb,
      var(--color-label-neutral-quaternary),
      var(--color-label-neutral-inverted-primary)
    );
  }

  .appointmentRow:not(:first-of-type) {
    border-top: 1px solid var(--color-border-neutral-inverted);
  }

  .status-dot {
    &--awaiting {
      background-color: var(--color-label-neutral-inverted-primary);
    }
  }
}

@media (width <= 600px) {
  .appointmentRow {
    flex-direction: column;
    gap: 1.6rem;
  }

  .infoCol {
    flex-direction: column;
    gap: 0.4rem;
  }

  .actionsCol {
    justify-content: flex-start;
  }

  .location::before {
    display: none;
    margin: 0;
  }
}
